<div class="section report">
    <div class="report-chart">
        <h3 class="report-chart__title">
            {{i18n.performance_title}}
        </h3>
        <div class="report-chart__inner">
            <div class="report-chart__legend">
                <div>
                    {{performance.mark_title}}
                </div>
                <div>
                    {{performance.mark}}
                </div>
            </div>
            <canvas id="performance-doughnut" data-chartjs="{{performance.chartjs}}"></canvas>
        </div>
    </div>

    <div class="report-agenda">
        <div class="report-agenda__property report-agenda__property-main">
            <div class="report-agenda__property-type"></div>
            <div class="report-agenda__property-rank">{{rank}}</div>
            <div class="report-agenda__property-name">{{business.name}}</div>
        </div>

        <div class="competitors">
            <h3 class="section__subtitle">{{i18n.performance_compared}}</h3>

            {% for key, item in competitors %}
            <div class="report-agenda__property">
                <div class="report-agenda__property-type"></div>
                <div class="report-agenda__property-rank">{{item.rank}}</div>
                <div class="report-agenda__property-name">{{item.name}}</div>
                <div class="report-agenda__property-isclaimed">
                    {% if item.claimed %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path
                            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                    <span class="verified">{{i18n.verified}}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="search-keyward">
            <h3 class="section__subtitle">{{i18n.keyword}}</h3>
            <div class="badge">{{keyword}}</div>
        </div>

        <div class="location-information">
            <h3 class="section__subtitle">{{i18n.location}}</h3>
            <p>{{location}} ({{latitude}}, {{longitude}})</p>
        </div>
    </div>
</div>